body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    width:100%;
}

.clock-container{
    text-align: center;
    font-size: 48px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .clock-container{
      width: 100%;
    }
}
